body {
  background-color: azure;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.flex-ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  min-height: 24px;
  min-width: 24px;
  margin: 20px auto;
  list-style-type: none;
}

.flex-ul > li {
  display: block;
  border: 1px solid black;
  margin: 0 1px;
  padding: 2px;
  cursor: pointer;
  list-style-type: none;
  background-color: antiquewhite;
}
.btn {
  background-color: antiquewhite !important;
}
.activeBtn {
  background-color: chocolate !important;
  color: antiquewhite;
}

.posts-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 15px;
  padding: 5px;
  background-color: antiquewhite;
  list-style: none;
  width: 80%;
}
.post {
  margin: 10px;
  border: 2px solid;
}
.post > h3 {
  padding-left: 10px;
  text-align: left;
  color: brown;
}
